[tool.poetry]
name = "jg.eggtray"
version = "0.0"
description = "Entry level candidates API"
authors = ["Honza Javorek <honza@junior.guru>"]
license = "AGPL-3.0-only"
readme = "README.md"
homepage = "https://junior.guru/"
repository = "https://github.com/juniorguru/eggtray/"
packages = [{ include = "jg" }]

[tool.poetry.scripts]
eggtray = "jg.eggtray.main:main"

[tool.poetry.dependencies]
python = "~3.11"
click = "8.1.7"
"jg.hen" = { git = "https://github.com/juniorguru/hen.git" }
pydantic = "2.7.1"
pyyaml = "6.0.1"
pycountry = "24.6.1"

[tool.poetry.group.dev.dependencies]
pytest = "8.2.2"
pytest-ruff = "0.4.0"
ruff = "0.5.2"

[tool.pytest.ini_options]
python_files = "test_*.py"
testpaths = "tests"
addopts = "--ff --ruff --ruff-format"

[tool.ruff]
target-version = "py311"

[tool.ruff.lint]
extend-select = ["I"]

[tool.ruff.lint.isort]
combine-as-imports = true
lines-after-imports = 2
known-third-party = ["jg.hen"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
